// sass-lint:disable-all
@font-face {
  font-family: 'icon';
  src: url('./fonts/icon.eot');
  src: url('./fonts/icon.eot#iefix') format('embedded-opentype'),
    url('./fonts/icon.ttf') format('truetype'),
    url('./fonts/icon.woff') format('woff'),
    url('./fonts/icon.svg#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'radnika';
  src: url('./fonts/Radnika-Bold.ttf') format('truetype'),
    url('./fonts/Radnik-Bold.woff') format('woff');
}
