@mixin dot($type) {
  @if ($type == 7px or $type == 6px) {
    @include inline-flexbox;

    span {
      background-color: $black;
      border-radius: 50%;
      height: $type;
      margin-right: $type;
      width: $type;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
