%dot-base {
  @include inline-flexbox;

  span {
    background-color: $black;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin dot($type) {
  @if ($type == 8px or $type == 6px) {
    @extend %dot-base;

    span {
      height: $type;
      margin-right: $type;
      width: $type;
    }
  }
}
