$gutter: 10px;

$sm-columns: 4;
$sm-margin: 10px;

$md-columns: 12;
$md-margin: 35px;

$lg-columns: 12;
$lg-margin: 4%;

.container {
  margin: 0 auto;
  padding: 0 $sm-margin;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  [class^='col-'] {
    padding: 0 $gutter / 2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    padding: 0 $lg-margin;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: percentage($i / $lg-columns);
      }
    }
  }
}
