$gutter: 10px;
$gutter-half: 5px;

$sm-columns: 4;
$sm-margin: 10px;

$md-columns: 12;
$md-margin: 35px;

$lg-columns: 12;
$lg-margin: 4%;

$sm-grid-margin: 15px;
$md-grid-margin: 40px;
$lg-grid-margin: calc(-#{$lg-margin} - 10px);
