$font-main: 'Inter', sans-serif;
$font-point: 'radnika', sans-serif;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.01em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-36: 32px;
$line-height-36: 42px;
$letter-spacing-36: -0.01em;

$font-size-40: 40px;
$line-height-40: 48px;
$letter-spacing-40: -0.02em;

$font-size-60: 60px;
$line-height-60: 72px;
$letter-spacing-60: -0.02em;

$font-size-80: 80px;
$line-height-80: 96px;
$letter-spacing-80: -0.02em;

$font-size-130: 130px;
$line-height-130: 156px;
$letter-spacing-130: -0.02em;
