@font-face {
  font-family: 'radnika';
  src: url('./fonts/Radnika-Bold.ttf') format('truetype'),
    url('./fonts/Radnik-Bold.woff') format('woff');
}

$font-main: 'Inter', sans-serif;
$font-point: 'radnika', sans-serif;

$font-size-14: 14px;
$font-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$font-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$font-height-18: 28px;
$letter-spacing-18: -0.01em;

$font-size-24: 24px;
$font-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-36: 36px;
$font-height-36: 46px;
$letter-spacing-36: -0.01em;

$font-size-40: 40px;
$font-height-40: 50px;
$letter-spacing-40: -0.02em;

$font-size-60: 60px;
$font-height-60: 72px;
$letter-spacing-60: -0.02em;

$font-size-80: 80px;
$font-height-80: 96px;
$letter-spacing-80: -0.02em;

$font-size-130: 130px;
$font-height-130: 156px;
$letter-spacing-130: -0.02em;
